@model Domain.CV

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<SelectListItem> typeofjobs = new List<SelectListItem>();
    typeofjobs.Add(new SelectListItem
    {
        Text = "Traineeship",
        Value = "Traineeship"
    });
    typeofjobs.Add(new SelectListItem
    {
        Text = "Engineer",
        Value = "Engineer"
    });
    typeofjobs.Add(new SelectListItem
    {
        Text = "Senior technician",
        Value = "Senior technician"
    });

    List<SelectListItem> departementType = new List<SelectListItem>();
    departementType.Add(new SelectListItem
    {
        Text = "Human Ressources",
        Value = "Human Ressources"
    });
    departementType.Add(new SelectListItem
    {
        Text = "Financial",
        Value = "Financial"
    });
    departementType.Add(new SelectListItem
    {
        Text = "Web Developement",
        Value = "Web Developement"
    });
    departementType.Add(new SelectListItem
    {
        Text = "Law",
        Value = "Law"
    });
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CV</h4>
        <hr />
        <div class="row">
            
            <div class="form-group col-md-4">
                <center>
                    @(Session["Candidate"] == null ? @Html.ActionLink("Basic Informations", "Create", "Candidate", null, new { @class = "btn btn-block  btn-warning" }) : @Html.ActionLink("Edit Basic Informations", "EditFromSession", "Candidate", null, new { @class = "btn btn-block  btn-warning" }))
                </center>
            </div>

            <div class="form-group col-md-3">
                <center>
                    @(Session["EducationSession"] == null ? @Html.ActionLink("Educations", "Create", "Education", null, new { @class = "btn btn-block btn-success" }) : @Html.ActionLink("Add Another Education", "Create", "Education", null, new { @class = "btn btn-block  btn-success" }))
                </center>
            </div>

            <div class="form-group col-md-3">
                <center>
                        @(Session["ExperienceSession"] == null ? @Html.ActionLink("Experiences", "Create", "Experience", null, new { @class = "btn btn-block  btn-danger" }) : @Html.ActionLink("Add Another Experience", "Create", "Experience", null, new { @class = "btn btn-block  btn-danger" }))
                </center>
            </div>

            <div class="form-group col-md-3">
                <center>
                    @(Session["LanguagesSession"] == null ? @Html.ActionLink("Languages", "Create", "Languages", null, new { @class = "btn btn-block  btn-info" }) : @Html.ActionLink("Add Another Language", "Create", "Languages", null, new { @class = "btn btn-block  btn-info" }))
                </center>
            </div>
        </div>
        <br />
        <div class="row">
                <div class="form-group col-md-4">
                    <center><h4>Type of Job</h4></center>
                </div>

                <div class="form-group col-md-4">
                    <center><h4>Departement</h4></center>
                </div>

                <div class="form-group col-md-4">
                    <center><h4>LinkedIn Link</h4></center>
                </div>
        </div>
       
        <div class="row">
            <div class="form-group col-md-4">
                @Html.DropDownList("typeofjob", typeofjobs, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownList("departement", departementType, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.linkedInLink, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <center><h4>Hobbies</h4></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                @Html.EditorFor(model => model.hobbies, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>
        <br /><br />
        <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <input type="button" value="Create" data-toggle="modal" data-target="#confirm-submit" class="btn btn-block btn-lg btn-primary" />
                </div>
        </div>
        </div>
        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Last Step ..
                    </div>
                    <div class="modal-body">
                        After you click on the "Submit" button your resume will be sent and
                        you will be redirect to a page that contains your resume , you can save it as PDF if you want to or
                        you can close the page safely.
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>

        </div>
}

