@model IEnumerable<Domain.CV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acceptedlist = ViewData["AcceptedList"] as List<int>;

}

<h2>List of Resumes</h2>

<table class="table table-bordered">
    <thead>
        <tr class="bg-blue-gradient">
            <th>
                Candidate Name
            </th>
            <th>
                Type of Job
            </th>
            <th>
                Departement
            </th>
            <th>
                LinkedIn Profile
            </th>
            <th>
                Hobbies
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            if (item.typeofjob.Equals("Engineer"))
            {
                ViewBag.CLS = "label label-primary";
            }
            else if (item.typeofjob.Equals("Traineeship"))
            {
                ViewBag.CLS = "label label-info";
            }
            else
            {
                ViewBag.CLS = "label label-danger";
            }
            if (acceptedlist.Contains(item.candidateId))
            {
                ViewBag.APP = "bg-green-gradient";
            }
            else
            {
                ViewBag.APP = "bg-gray-light";
            }
            <tr class="@ViewBag.APP">
                
                <td>
                    @Html.DisplayFor(modelItem => item.candidate.surname) @Html.DisplayFor(modelItem => item.candidate.name)
                </td>
                <td>
                    <span class="@ViewBag.CLS">
                    @Html.DisplayFor(modelItem => item.typeofjob)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.linkedInLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hobbies)
                </td>
                <td>
                    
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-block btn-info" })
                    
                </td>
            </tr>
        }

</table>
