@model IEnumerable<Domain.CV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.candidate.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeofjob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkedInLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hobbies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.candidate.surname) @Html.DisplayFor(modelItem => item.candidate.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeofjob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedInLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hobbies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
