@model IEnumerable<Domain.CV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Resumes</h2>

<p>
    @Html.ActionLink("Create a Resume", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <thead>
        <tr class="bg-blue-gradient">
            <th>
                Candidate Name
            </th>
            <th>
                Type of Job
            </th>
            <th>
                Departement
            </th>
            <th>
                LinkedIn Profile
            </th>
            <th>
                Hobbies
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr class="bg-gray-light">
                <td>
                    @Html.DisplayFor(modelItem => item.candidate.surname) @Html.DisplayFor(modelItem => item.candidate.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typeofjob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.linkedInLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hobbies)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

</table>
