@model Domain.Candidate

@{
    ViewBag.Title = "Candidate | Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of @Model.name @Model.surname</h2>

<table class="table table-bordered">
    <thead>
        <tr class="bg-purple-gradient">
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Gender
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.name @Model.surname</td>
            <td>@Model.age</td>
            <td>@Model.address.city ,@Model.address.country ,@Model.address.address</td>
            <td>@Model.phone</td>
            <td>@Model.email</td>
            <td>@Model.sex</td>
        </tr>
        
    </tbody>
    </table>
<center>@Html.ActionLink("Back to list", "Index", "Candidate", null, new { @class = "btn btn-md btn-primary" })</center>
