@model IEnumerable<Domain.Candidate>

@{
    ViewBag.Title = "Candidate | List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Candidates</h2>

<table class="table">
    <tr class="bg-red-gradient">
        <th>
            Name
        </th>
        <th>
            Birth Date
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Details
        </th>
    </tr>

@foreach (var item in Model) {
    <tr  class="@(item.sex.Equals("Female")? "danger" : "success")">
        <td>
            @Html.DisplayFor(modelItem => item.surname) @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate.Day) / @Html.DisplayFor(modelItem => item.birthDate.Month) / @Html.DisplayFor(modelItem => item.birthDate.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address.city), @Html.DisplayFor(modelItem => item.address.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-sm btn-block btn-warning" })
        </td>
    </tr>
}

</table>
