@model Domain.CV
@{ 
    Layout = null;
}
@{ 
    if (Model.candidate.sex.Equals("Female"))
    {
        ViewBag.Style = "/Content/pdf/css/styles-4.css";
        ViewBag.button = "btn btn-lg btn-danger";
    }
    else {
        ViewBag.Style = "/Content/pdf/css/styles-3.css";
        ViewBag.button = "btn btn-lg btn-success";
    }
}
<head>
    <title>CV | PDF</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="@ViewBag.Style">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="~/Content/pdf/images/profile.png" alt="" />
                <h1 class="name">@Model.candidate.name @Model.candidate.surname</h1>
                <h3 class="tagline">@Model.typeofjob</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: @Model.candidate.email">@Model.candidate.email</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="#">+216 @Model.candidate.phone</a></li>
                    @if (Model.linkedInLink != null) { 
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="@Model.linkedInLink" target="_blank">@Model.linkedInLink</a></li>
                    }
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
            @if (Model.educations != null) { 
            foreach(var education in Model.educations) { 
                <div class="item">
                    <h4 class="degree">@education.title</h4>
                    <h5 class="meta">@education.organisation.Name (@education.organisation.Country - @education.organisation.City)</h5>
                    <div class="time">@education.from.Year - @education.to.Year</div>
                </div><!--//item-->
                }
            }
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    @if (Model.languages != null)
                    {
                        foreach (var language in Model.languages)
                        {
                            <li>@language.name <span class="lang-desc">(@language.level)</span></li>
                        }
                    }
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    @{ 
                        if (Model.hobbies != null)
                        {
                            <li>@Model.hobbies</li>
                        }
                    }
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            <center>
                <form method="post">
                    <button type="submit" class="@ViewBag.button" title="Don't worry, this button will disapear in the PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save</button>
                </form>
            </center>
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>I'm @Model.candidate.name @Model.candidate.surname , i'm @Model.candidate.age years old and i'm from @Model.candidate.address.city, @Model.candidate.address.country</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                @{
                    if (Model.experiences != null)
                    {
                        foreach (var experience in Model.experiences)
                        {
                            <div class="item">
                                <div class="meta">
                                    <div class="upper-row">
                                        <h3 class="job-title">@experience.poste</h3>
                                        <div class="time">@experience.from.Year - @experience.to.Year</div>
                                    </div><!--//upper-row-->
                                    <div class="company">@experience.company</div>
                                </div><!--//meta-->
                            </div><!--//item-->
                        }
                    }
                }  
            </section><!--//section-->
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="~/Content/pdf/js/main.js"></script>            
</body>

